<h1>Edit </h1>
<!-- paperclipで複数の画像をアップロードする際に:html => { :multipart => true}が必要
    DBのカテゴリ名前を反映させるために f.select〜〜としている
 -->
<%= simple_form_for @book, :html => { :multipart => true}  do |f| %>
    <%= f.select :category_id, @categories %>
    <%= f.file_field :book_image%>
    <%= f.input :title, label: "Book title"%>
    <%= f.input :description %>
    <%= f.input :author %>
    <%= f.button :submit %>
    <!-- createのviewテンプレートは作成していない　-->
<% end %>