<h2><%= @book.title %></h2>
<h3><%= @book.author %></h3>
<p><%= @book.description %></p>

<%= link_to 'Back', root_path %>
<!-- ログインしていると、エディット、削除ボタンを表示する。ただし、表示するのは自分が作成したもののみ-->
<% if user_signed_in? %>
    <% if @book.user_id == current_user.id %>
        <%= link_to 'edit', edit_book_path(@book) %>
        <%= link_to 'destroy', book_path(@book), method: :delete, data:{ confirm: "Are you sure?" } %>
    <% end %>
<% end %>